@model PhotoMap.ViewModels.PhotoMapViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header1">
            Photo Map
            <small>Application shows Instagram posts by chosen geographical location or tag</small>
        </h1>
        
    </div>
</div>
@section scripts {
    <section class="scripts">
        <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
        <script type="text/javascript">
            google.maps.event.addDomListener(window, 'load', Initialize);
        </script>
        
    </section>
}
<div class="col-md-6 col-xs-12" id="left">
    <div class="input-group">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "Getting images was unsuccessful. Please correct the errors and try again.");
            <div class="editor-label">
                @Html.LabelFor(model => model.tag):
            </div>
            <div class="editor-field">
                <input type="text" class="form-control" name="tag" placeholder="Enter tag and search Instagram..." />
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.longitude):
            </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.longitude, new { @class = "form-control"})
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.latitude):
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.latitude, new { @class = "form-control" })
                </div>
                <hr>
            if (Request.QueryString["code"] == null)
            {
                <div>
                    <div id="login">Log In on Instagram in order to search Instagram media</div>
                    <input type="submit" class="btn btn-primary" value="Log In on Instagram" />
                </div>
            }
            else
            {
                <div>
                    <input type="submit" class="btn btn-primary" value="Get Images by tag or location" />
                </div>
            }
            <hr>
            <div>
                <label for="txtautocomplete">Location: </label>
                <input type="text" id="txtautocomplete" class="form-control" placeholder="Enter the adress" />
                <div>
                   <label id="lblresult"></label>
                </div>
            </div>
        }
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div id="map-canvas" style="height: 400px; width:400px;"></div>
</div>


<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                Instagram Posts
                <small>Complete Instagram posts by searched criteria</small>
            </h3>
        </div>
    </div>
    <!-- /.row -->
    @if (Model != null && Model.posts != null)
            {
                foreach (var item in Model.posts)
                {
                <!-- Instagram post one -->
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-rounded" src="@Html.DisplayFor(modelItem => item.Images.StdRes.url)" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <h4>@Html.DisplayFor(modelItem => item.Location.Name)</h4>
                    <a href="@Html.DisplayFor(modelItem => item.Link)">See image on Instagram</a>
                </div>
            </div>
                    <hr>
                <!-- THE END -->
        }
    }
    else
    {
        <div class="row">
            <p> Images will be presentet here after you choose search criteria...</p>
        </div>
    }
</div>

