@model PhotoMap.ViewModels.PhotoMapViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

@using (Html.BeginForm())
{
    
    @Html.ValidationSummary(true, "Getting images was unsuccessful. Please correct the errors and try again.");
    <div class="editor-label">
        @Html.LabelFor(model => model.tag):
    </div>
    <div class="editor-field">
        <input type="text" name="tag" />
        @*@Html.TextBoxFor(model => model.tag)*@
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.longitude):
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.longitude)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.latitude):
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.latitude)
    </div>

    if (Request.QueryString["code"] == null)
    {
        <div>
            <input type="submit" value="Login" />
        </div>
    }
    else
    {
        <div>
            <input type="submit" value="Get images by tag" />
        </div>
    }
}
@*@using (Html.BeginForm("Location", "InstagramMap"))
{
    @Html.ValidationSummary(true, "Getting images was unsuccessful. Please correct the errors and try again.");
    <div class="editor-label">
        @Html.LabelFor(model => model.latitude):
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.latitude)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.longitude):
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.longitude)
    </div>
    if (Request.QueryString["code"] == null)
    {
        <div>
            <input type="submit" value="Login" />
        </div>
    }
    else
    {
        <div>
            <input type="submit" value="Get images by location" />
        </div>
    }
}*@
<div>
        @if (Model != null && Model.locations != null)
        {
            foreach (var item in Model.locations)
            {
                <!-- item list -->
                <div class="panel panel-default">
                   <p>List of locations in radius of 1000 meters from location that you chose</p>
                </div>
                <ul>
                    <li><a href="#" id="@Html.DisplayFor(modelItem => item.Id)"><strong>@Html.DisplayFor(modelItem => item.Name)</strong></a></li>
                </ul>
            <!-- /item list -->
            }
        }
</div>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                Instagram Posts
                <small>Complete Instagram posts by searched criteria</small>
            </h3>
        </div>
    </div>
    <!-- /.row -->
    @if (Model != null && Model.posts != null)
    {
            foreach (var item in Model.posts)
            {
                <!-- Instagram post one -->
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#">
                                <img class="img-responsive" src="@Html.DisplayFor(modelItem => item.Images.StdRes.url)" alt="">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <h3></h3>
                            <h4>@Html.DisplayFor(modelItem => item.Location.Name)</h4>
                            <p> Visit image location: @Html.DisplayFor(modelItem => item.Link)</p>
                        </div>
                    </div>
                    <hr>
                <!-- THE END -->
            }
    }
    else
    {
        <div class="row">
            <p> Images will be presentet here after you choose search criteria...</p>
        </div>
    }
</div>

